<form name="form" class="form-horizontal" x-role="form" x-ng-submit="storeKey()" novalidate>
	<div class="form-group" x-ng-class="{'has-error': form.ocspCertFile.$invalid}">
		<label for="ocspCertFile" class="col-lg-3 control-label">Certificate file (.p12d or .p12)</label>
		<div class="col-lg-9">
		    <file 
		    	id="ocspCertFile"
		    	name="ocspCertFile"
		    	x-ng-model="ocspCertFile"
		    	accept="application/x-p12d,application/x-pkcs12"
		    	required/>
		</div>
	</div>
	<div class="form-group" x-ng-class="{'has-error': form.ocspCertPass.$invalid}">
		<label for="ocspCertPass" class="col-lg-3 control-label">Certificate password</label>
		<div class="col-lg-9">
			<input type="password" 
				id="ocspCertPass"
				name="ocspCertPass"
				class="form-control" 
				required
				x-ng-model="signatureContainer.pass"/>
		</div>
	</div>
	<button type="submit" 
			class="btn btn-primary"
			ng-disabled="form.$invalid">
             	Save
  	</button>
</form>