
	<div>
   		<div class="modal-content" x-ng-show="step == 'chooseMethod'">
			<div class="modal-header">
				<button type="button" 
					class="close" 
					x-ng-click="cancel()"
					x-analytics-on="click"
               		x-analytics-category="buttons"
               		x-analytics-event="Cancel on choosing sign method"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Choose signing method</h4>
			</div>
			<div class="modal-body text-center">
 				<button type="button"
						class="btn btn-primary btn-lg"
						x-ng-click="chooseMobileId()"
						x-analytics-on="click"
            			x-analytics-category="buttons"
            			x-analytics-event="Choose MobileID card">Mobile ID</button>
				<button type="button" 
						class="btn btn-primary btn-lg" 
						x-ng-click="chooseIdCard()"
						x-analytics-on="click"
            			x-analytics-category="buttons"
            			x-analytics-event="Choose ID card">ID Card</button>
			</div>
			<div class="modal-footer">
				<button type="button" 
						class="btn btn-default" 
						x-ng-click="cancel()"
						x-analytics-on="click"
                		x-analytics-category="buttons"
                		x-analytics-event="Cancel on choosing sign method">
                	Cancel
                </button>
			</div>
		</div>
		<div class="modal-content" x-ng-show="step == 'mobileIdCredentials'">
			<div class="modal-header">
				<button type="button" 
					class="close" 
					x-ng-click="cancel()"
					x-analytics-on="click"
            		x-analytics-category="buttons"
             		x-analytics-event="Cancel on entering Mobile Id data"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Enter phone number and personal id</h4>
			</div>
				<form name="form" class="form-horizontal" role="form" x-ng-submit="startSigning()">
					<div class="modal-body">
							<div class="form-group">
								<label for="phoneNumberInput" class="col-lg-3 control-label">Phone number</label>
								<div class="col-lg-9">
									<input type="text" 
										pattern="^\+(?:[0-9] ?){6,14}[0-9]$" 
										class="form-control" 
										id="phoneNumberInput" 
										name="phoneNumberInput"
										required="required"
										x-ng-model="mobileIdForm.phoneNumber"
										placeholder="Phone (eg +372xxxxxxxx)">
								</div>
							</div>
							<div class="form-group">
								<label for="personalIdInput" class="col-lg-3 control-label">Personal id</label>
								<div class="col-lg-9">
									<input type="text" 
										class="form-control" 
										id="personalIdInput"
										name="personalIdInput"
										pattern="\d{11}"
										x-ng-model="mobileIdForm.personalId"
										placeholder="Personal id">
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" 
							class="btn btn-default"
							x-ng-click="cancel()"
							x-analytics-on="click"
                			x-analytics-category="buttons"
                			x-analytics-event="Cancel on entering Mobile Id data">Cancel</button>
                			
						<button type="submit"
							class="btn btn-primary"
							x-analytics-on="click"
                			x-analytics-category="buttons"
                			x-analytics-event="Start MobileId polling">Sign</button>
					</div>
				</form>
		</div>
		<div class="modal-content" x-ng-show="step == 'mobileIdPoll'">
			<div class="modal-header">
				<button type="button" 
					class="close" 
					x-ng-click="cancel()" 
					x-analytics-on="click"
            		x-analytics-category="buttons"
             		x-analytics-event="Cancel on MobileId polling"
					x-aria-hidden="true">&times;</button>
				<h4 class="modal-title">Enter PIN 2 on your mobile device</h4>
			</div>
			<div class="modal-body text-center">
				<h1><span class="label label-default">{{signSession.challenge}}</span></h1>
				<br/>
	    		<div class="progress progress-striped active">
				  <div class="progress-bar" x-role="progressbar" style="width: 100%">
				    <span class="sr-only">In progress</span>
				  </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" 
					class="btn btn-default" 
					x-ng-click="cancel()"
					x-analytics-on="click"
            		x-analytics-category="buttons"
             		x-analytics-event="Cancel on MobileId polling">Cancel</button>
			</div>
		</div>
		<div class="modal-content" x-ng-show="step == 'ocspCert'">
			<div class="modal-header">
				<button type="button" class="close" x-ng-click="cancel()" x-aria-hidden="true">&times;</button>
				<h4 class="modal-title">Setup ID card signing</h4>
			</div>
			<form name="form" class="form-horizontal" x-role="form" x-ng-submit="storeKey()" novalidate>
				<div class="modal-body">
					<div class="alert alert-info">
						<ul>
							<li>
								<a href="http://id.ee/index.php?id=34321" 
										target="blank"
										x-analytics-on="click"
	                					analytics-category="buttons"
	                					x-analytics-event="Validity service access cert info">
									What is validity service access certificate?
								</a>
							</li>
							<li>
								<a href="https://www.sk.ee/getaccess/" 
										target="blank"
										x-analytics-on="click"
	                					analytics-category="buttons"
	                					x-analytics-event="Where do I get access cert">
									Where do I get one?
								</a>
							</li>
							<li>
								<a href="http://youtu.be/JUZdlbeXNzs" 
										target="blank"
										x-analytics-on="click"
	                					analytics-category="buttons"
	                					x-analytics-event="See video setup guide">
									See video setup guide
								</a>
							</li>
						</ul>
					</div>
	   				<div class="form-group" x-ng-class="{'has-error': form.ocspCertFile.$invalid}">
						<label for="ocspCertFile" class="col-lg-3 control-label">Certificate file (.p12d or .p12)</label>
						<div class="col-lg-9">
						    <file 
						    	id="ocspCertFile"
						    	name="ocspCertFile"
						    	x-ng-model="ocspCertFile"
						    	accept="application/x-p12d,application/x-pkcs12"
						    	required/>
						</div>
					</div>
					<div class="form-group" x-ng-class="{'has-error': form.ocspCertPass.$invalid}">
						<label for="ocspCertPass" class="col-lg-3 control-label">Certificate password</label>
						<div class="col-lg-9">
							<input type="password" 
								id="ocspCertPass"
								name="ocspCertPass"
								class="form-control" 
								required
								x-ng-model="signatureContainer.pass"/>
						</div>
					</div>
					<div class="alert alert-info">
						Worried how your access key is used? Check project code on 
						<a href="https://github.com/aleksz/driveddoc" 
							x-analytics-on="click"
	                		analytics-category="buttons"
	                		x-analytics-event="Project code on GitHub">GitHub</a>.
					</div>
					<!-- <div class="alert alert-info">
						For your convenience, certificate will be stored and you don't need to configure it on each signing.
					</div> -->
				</div>
				<div class="modal-footer">
					<div class="progress progress-striped active" x-ng-show="storingKey">
						<div class="progress-bar" x-role="progressbar" style="width: 100%">
							<span class="sr-only">In progress</span>
						</div>
					</div>
					<button type="button" 
							class="btn btn-default" 
							x-ng-click="cancel()"
							x-analytics-on="click"
	                		analytics-category="buttons"
	                		x-analytics-event="Cancel on access cert">
	                	Cancel
	                </button>
					<button type="submit" 
							class="btn btn-primary"
							ng-disabled="form.$invalid"
							x-analytics-on="click"
	                		analytics-category="buttons"
	                		x-analytics-event="Submit access cert">
	                	Save certificate and proceed with signing
	                </button>
				</div>
			</form>
		</div>
		<div class="modal-content" x-ng-show="step == 'waitingIdCardAuth'">
			<div class="modal-header">
				<button type="button" 
					class="close" 
					x-ng-click="cancel()"
					x-analytics-on="click"
            		x-analytics-category="buttons"
             		x-analytics-event="Cancel on ID card signing" 
					x-aria-hidden="true">&times;</button>
				<h4 class="modal-title">Please choose your certificate and enter PIN2</h4>
			</div>
			<div class="modal-body">
   				<div class="progress progress-striped active">
				  <div class="progress-bar" x-role="progressbar" style="width: 100%">
				    <span class="sr-only">In progress</span>
				  </div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
