
	<div>
   		<div class="modal-content" x-ng-show="step == 'chooseMethod'">
			<div class="modal-header">
				<button type="button" class="close" x-ng-click="cancel()"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Choose signing method</h4>
			</div>
			<div class="modal-body text-center">
				<!-- <button type="button" class="btn btn-primary btn-lg" x-ng-click="chooseMobileId()">Mobile ID</button> -->
				<button type="button" class="btn btn-primary btn-lg" x-ng-click="chooseIdCard()">ID Card</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" x-ng-click="cancel()">Cancel</button>
			</div>
		</div>
		<div class="modal-content" x-ng-show="step == 'mobileIdCredentials'">
			<div class="modal-header">
				<button type="button" class="close" x-ng-click="cancel()"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Enter phone number and personal id</h4>
			</div>
				<form class="form-horizontal" role="form" x-ng-submit="startSigning()">
			<div class="modal-body">
					<div class="form-group">
						<label for="phoneNumberInput" class="col-lg-3 control-label">Phone number</label>
						<div class="col-lg-9">
							<input type="text" 
								pattern="^\+(?:[0-9] ?){6,14}[0-9]$" 
								class="form-control" 
								id="phoneNumberInput" 
								required="required"
								x-ng-model="form.phoneNumber"
								placeholder="Phone (eg +372xxxxxxxx)">
						</div>
					</div>
					<div class="form-group">
						<label for="personalIdInput" class="col-lg-3 control-label">Personal id</label>
						<div class="col-lg-9">
							<input type="text" 
								class="form-control" 
								id="personalIdInput"
								pattern="\d{11}"
								x-ng-model="form.personalId"
								placeholder="Personal id">
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" x-ng-click="cancel()">Cancel</button>
				<button type="submit" class="btn btn-primary">Sign</button>
			</div>
				</form>
		</div>
		<div class="modal-content" x-ng-show="step == 'mobileIdPoll'">
			<div class="modal-header">
				<button type="button" class="close" x-ng-click="cancel()" x-aria-hidden="true">&times;</button>
				<h4 class="modal-title">Choose signing method</h4>
			</div>
			<div class="modal-body text-center">
				<h1><span class="label label-default">{{signSession.challenge}}</span></h1>
				<br/>
	    		<div class="progress progress-striped active">
				  <div class="progress-bar" x-role="progressbar" style="width: 100%">
				    <span class="sr-only">In progress</span>
				  </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" x-ng-click="cancel()">Cancel</button>
			</div>
		</div>
		<div class="modal-content" x-ng-show="step == 'ocspCert'">
			<div class="modal-header">
				<button type="button" class="close" x-ng-click="cancel()" x-aria-hidden="true">&times;</button>
				<h4 class="modal-title">Upload your personal signature service access key</h4>
			</div>
			<form class="form-horizontal" x-role="form" x-ng-submit="storeKey()">
				<div class="modal-body">
	   				<div class="form-group">
						<label for="ocspCertFile" class="col-lg-3 control-label">Access key</label>
						<div class="col-lg-9">
						    <file
						    	id="ocspCertFile"
						    	name="ocspCertFile"
						    	accept="application/x-p12d"
						    	required="required"/>
						</div>
					</div>
					<div class="form-group">
						<label for="ocspCertPass" class="col-lg-3 control-label">Password</label>
						<div class="col-lg-9">
							<input type="password" 
								id="ocspCertPass"
								class="form-control" 
								required="required"
								x-ng-model="signatureContainer.pass"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" x-ng-click="cancel()">Cancel</button>
					<button type="submit" class="btn btn-primary">Save key and proceed with signing</button>
				</div>
			</form>
		</div>
		<div class="modal-content" x-ng-show="step == 'waitingIdCardAuth'">
			<div class="modal-header">
				<button type="button" class="close" x-ng-click="cancel()" x-aria-hidden="true">&times;</button>
				<h4 class="modal-title">Please choose your certificate and enter PIN2</h4>
			</div>
			<div class="modal-body">
   				<div class="progress progress-striped active">
				  <div class="progress-bar" x-role="progressbar" style="width: 100%">
				    <span class="sr-only">In progress</span>
				  </div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
